In [1]:
from sklearn.datasets import make_classification
from sklearn.utils import resample
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
data = make_classification(n_samples=1000, n_classes=2, 
                           weights=[0.8, 0.2], random_state=23)

In [4]:
data

(array([[ 0.13232492,  0.33301267,  0.48136971, ..., -0.0372263 ,
         -0.55258414, -0.67295166],
        [ 1.89262246, -2.15538261, -0.39412158, ...,  1.69835282,
          0.09410361,  0.6390785 ],
        [ 0.50954567,  1.18669387,  0.95928732, ..., -0.54129521,
         -0.37482805, -2.18116821],
        ...,
        [-0.82153409,  0.61710388,  0.70239459, ..., -0.86275256,
         -0.56508439, -0.95485774],
        [ 0.61390331, -1.0616424 ,  0.88654963, ...,  0.99460724,
          0.17655184, -1.3007415 ],
        [-1.09364982, -0.25169781, -0.56959243, ..., -1.44205158,
         -0.86953376,  0.85196588]]),
 array([0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
        0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0,
        1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1,
        0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
        0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1,
        0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
        1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
        1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0,
        1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
        0, 1, 0, 0, 1, 0, 0, 0, 0, 1]))

In [5]:
df = pd.DataFrame(data[0], columns=[f"feature_{i}"for i in range(len(data[0][0]))])

In [6]:
df.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19
0,0.132325,0.333013,0.481370,2.473071,-0.966725,0.493880,-0.247309,0.679476,-0.270557,1.506381,1.425326,-1.279706,1.825841,-0.764205,-0.104804,-0.495039,2.300789,-0.037226,-0.552584,-0.672952
1,1.892622,-2.155383,-0.394122,0.329241,0.390517,-1.404813,-1.215084,-0.310300,0.258698,-0.880988,-1.330219,0.217687,0.270797,0.159286,0.938478,0.392049,-0.449108,1.698353,0.094104,0.639079
2,0.509546,1.186694,0.959287,1.342229,-2.059967,-0.423093,-0.377241,-0.991911,-1.039653,-0.123355,-1.266389,-0.137042,-0.245330,0.356423,0.331232,-0.860039,1.462760,-0.541295,-0.374828,-2.181168
3,1.492415,1.043185,0.021732,-0.475620,1.041533,-0.127060,0.872141,0.017853,1.430772,0.194683,-1.085951,-1.780806,-1.064841,0.484594,1.076660,-0.021658,-0.813202,-0.541893,1.127384,-0.034973
4,0.485449,-0.190927,-0.800216,-0.108393,-1.856932,0.967366,-0.392703,-0.883419,-0.685578,0.777258,-0.806652,0.919138,-0.157322,-1.676752,0.524323,0.809670,-1.121761,-0.329087,-1.349292,1.206833

In [7]:
df["target"] = data[1]

In [8]:
df.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,target
0,0.132325,0.333013,0.481370,2.473071,-0.966725,0.493880,-0.247309,0.679476,-0.270557,1.506381,...,-1.279706,1.825841,-0.764205,-0.104804,-0.495039,2.300789,-0.037226,-0.552584,-0.672952,0
1,1.892622,-2.155383,-0.394122,0.329241,0.390517,-1.404813,-1.215084,-0.310300,0.258698,-0.880988,...,0.217687,0.270797,0.159286,0.938478,0.392049,-0.449108,1.698353,0.094104,0.639079,1
2,0.509546,1.186694,0.959287,1.342229,-2.059967,-0.423093,-0.377241,-0.991911,-1.039653,-0.123355,...,-0.137042,-0.245330,0.356423,0.331232,-0.860039,1.462760,-0.541295,-0.374828,-2.181168,0
3,1.492415,1.043185,0.021732,-0.475620,1.041533,-0.127060,0.872141,0.017853,1.430772,0.194683,...,-1.780806,-1.064841,0.484594,1.076660,-0.021658,-0.813202,-0.541893,1.127384,-0.034973,0
4,0.485449,-0.190927,-0.800216,-0.108393,-1.856932,0.967366,-0.392703,-0.883419,-0.685578,0.777258,...,0.919138,-0.157322,-1.676752,0.524323,0.809670,-1.121761,-0.329087,-1.349292,1.206833,1

In [9]:
df["target"].value_counts()

target
0    800
1    200
Name: count, dtype: int64

In [10]:
majority = df[df["target"]==0]
majority.shape

(800, 21)

In [11]:
minority = df[df["target"]==1]
minority.shape

(200, 21)

In [12]:
majority.drop("target", axis=1, inplace=True)
minority.drop("target", axis=1, inplace=True)

In [13]:
downsample = resample(majority, 
                      replace=False,
                      n_samples=len(minority), 
                      random_state=53)

In [14]:
down_df = pd.concat([minority, downsample])

In [15]:
down_df.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19
1,1.892622,-2.155383,-0.394122,0.329241,0.390517,-1.404813,-1.215084,-0.310300,0.258698,-0.880988,-1.330219,0.217687,0.270797,0.159286,0.938478,0.392049,-0.449108,1.698353,0.094104,0.639079
4,0.485449,-0.190927,-0.800216,-0.108393,-1.856932,0.967366,-0.392703,-0.883419,-0.685578,0.777258,-0.806652,0.919138,-0.157322,-1.676752,0.524323,0.809670,-1.121761,-0.329087,-1.349292,1.206833
5,1.330200,-0.295633,-0.132767,0.840879,-2.981110,-0.052742,-0.348464,0.251579,-0.554387,0.480205,1.290038,0.735071,-1.353509,1.059051,0.674152,0.112868,-1.106597,-0.018220,-1.113953,0.342806
7,-0.632109,0.790475,-0.086938,-0.649763,-0.812300,1.058814,-0.223275,2.330257,-1.260816,-0.184128,-0.577940,2.318786,-0.594757,0.559475,-1.252590,-0.042851,-0.260485,1.347749,0.843525,0.999940
12,-1.029448,0.539698,-0.599889,-2.243156,0.189303,-0.662770,-1.058021,-0.421414,0.918978,-1.228075,-0.090210,-1.270953,-0.363251,-0.016462,-0.078159,0.593990,-0.008565,-1.226059,1.183177,0.990960

In [16]:
down_df.shape

(400, 20)

In [17]:
upsample = resample(minority, 
                    replace=True,
                    n_samples=len(majority), 
                    random_state=53)

In [18]:
up_df = pd.concat([majority, upsample])

In [19]:
up_df.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19
0,0.132325,0.333013,0.481370,2.473071,-0.966725,0.493880,-0.247309,0.679476,-0.270557,1.506381,1.425326,-1.279706,1.825841,-0.764205,-0.104804,-0.495039,2.300789,-0.037226,-0.552584,-0.672952
2,0.509546,1.186694,0.959287,1.342229,-2.059967,-0.423093,-0.377241,-0.991911,-1.039653,-0.123355,-1.266389,-0.137042,-0.245330,0.356423,0.331232,-0.860039,1.462760,-0.541295,-0.374828,-2.181168
3,1.492415,1.043185,0.021732,-0.475620,1.041533,-0.127060,0.872141,0.017853,1.430772,0.194683,-1.085951,-1.780806,-1.064841,0.484594,1.076660,-0.021658,-0.813202,-0.541893,1.127384,-0.034973
6,-0.533888,-1.678013,-0.420107,-0.388638,-1.401190,-1.399410,-0.233292,-0.354062,-1.686778,-0.699870,0.781577,0.399317,0.181651,0.872097,0.089670,0.419154,-0.142844,-2.570106,0.762342,0.672871
8,-2.223184,-0.506256,2.039963,0.633140,1.120591,-0.773267,0.310786,2.561427,0.147325,0.135290,-1.996491,0.906555,0.116672,-0.579629,-1.101194,-2.080742,-1.089170,-0.770586,0.992191,-2.965757

In [20]:
up_df.shape

(1600, 20)